
/* Opsætning af Interface CSS */

    :root {  /* Farve variabler - tilføj til CSS med var() */
        --background-color: #f9f9f9;
        --primary-red-color: #E30613; 
        --text-color: #1d1d1b; 

        --accent-blue-color: #e8f1f8;
        --accent-button-color: #ffffff;

        background-color: #1d1d1b;
    }

    body {
        background-color: var(--background-color);

        /* Mobile Interface resolution */
        margin: 0 150px 0 150px;
        max-width: 402px;
        min-width: 402px;
        height: 874px;
    }

    /* Font og brødtekst */

    h1 {
        color: var(--text-color);
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        padding: 16px 20px 20px 20px;
    }

    .section--title {
        text-decoration: none;
        padding: 0;
        margin: 16px 20px 20px 20px;
    }

    h2 {
        color: var(--primary-red-color);
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        padding: 16px 20px 18px 20px;
    }

    h3 {
        color: var(--text-color);
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        padding: 14px 20px 18px 20px;
    }

    p {
        color: var(--text-color);
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        margin: 0;
        font-style: normal;
        padding: 0 20px 0 20px;
    }

    .box--shadow-element {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
    }

    /* Knapper og CTA */

    .button { /* Button style til "Køb", "Bekræft" og "Videre" knapper */
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        border-radius: 20px;
        padding: 5px 28px;
        margin: 10px 10px;
        border-style: none;
        text-decoration: none;
        background-color: var(--primary-red-color);
        color: var(--accent-button-color);
        cursor: pointer;
    }

    .button--booking { /* Booking knap */
        border-radius: 10px;
        padding: 10px 40px;
    }

    .button--logOut {  /* log ud knap */
        font-size: 14px;
        margin: 8px 8px;
        background-color: var(--accent-blue-color);
        color: var(--text-color);
    }

    .button--guestLogIn {  /* Login som gæst */
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        border-style: none;
        text-decoration: underline;
        background-color: var(--background-color);
        color: var(--primary-red-color);
        cursor: pointer;
    }


    .inline--icon {
        display: inline;
    }

    .icon--click {  /* Class til elementer der kan klikkes på */
        cursor: pointer;
    }

    .input--login {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        background-color: var(--accent-blue-color);
        border-radius: 10px;
        padding: 14px 36px;
        width: 275px;
        border: none;
        margin: 0 auto 18px auto;
    }
    

    /* NOTE TIL LAU -- Husk at opsætte px til REM i spacing - mvh Lau */

/* Opsætning af Interface CSS, slut */



/* Andre CSS elementer */

    /* Login side */

        .login--container {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            text-align: center;
            height: 800px;
        }

        .login--container-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }

        .login--container div {
            margin: auto;
        }

        .login--container-img {
            width: 75%; 
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


    /* Login side, slut */
    


    /* Onboarding 1 HTML'S CSS */

        /* status dots */
        .status-dots1 {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            padding-top: 20px;
        }

        .dot1 {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #d9d9d9;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .dot-active1 {
            background-color: var(--text-color);
        }

        .dot1:hover {
            background-color: #b0b0b0;
        }

    /* Onboarding 1 HTML'S CSS, slut */


    /* Homepage  */

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px 8px 20px;
            height: 50px;
            background-color: var(--accent-button-color);
            position: sticky;
            top: 0;
            z-index: 100;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }

        .header--logo img {
            height: 40px;  
            width: auto;
        }

        .header--logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

        .header--menu-icon {
            font-size: 20px;
        }


        .hero--carousel-slide {
            position: relative;
            width: 100%;
            height: 250px;  
            overflow: hidden;
        }


        /* selv note til mathias, mangler måske en form for grediant overlay  */
            .hero--carousel-slide img {
                width: 100%;
                height: 120%;
                object-fit: cover;
                object-position: center center;
            }

        .hero--carousel-content { position: absolute;
            bottom: 190px;
        }

        .hero--carousel-title {
            color: #ffffff;
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            padding: 0 20px 10px 20px;
        }
 
        .hero--carousel-subtitle {
            color: #ffffff;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;

            display: flex;
            justify-content: center;
            align-items: center;
        }


        /* Menu */
        .menu--container {
            display: grid;
            grid-template-columns: 170px 170px;
            grid-template-rows: 170px 170px;
            gap: 18px;
            margin: 30px 20px 0 20px;
        }

        .menu--container-item {
            padding: 5px;
            border-radius: 20px;
            border: 1px solid #7D7B77;
            background: var(--accent-blue-color);
            text-align: center;
            text-decoration: none;
        }

        .menu--container-title {
            padding: 8px;
        }
        
        .menu--container-img {
            height: 60%;
        }
        /* Menu, slut */


    /* Homepage Slut  */


    /* Køberrådgivnings start  */

    .page-header{
        display:flex;
        align-items: center;
        padding: 5px 0px;
    }

    .page-title{
       
        margin-left: -34px;
        font-size: 24px;
    
    }

    .illustration {
        text-align: center;
        padding: 20px;
    }



    .accordion-section{padding: 20px;}

    .accordion-pakker{
        background-color:var(--accent-blue-color);
        border-radius:15px;
        margin-bottom: 15px;
       
    }

   .accordion-text {
    width: 100%;
    padding: 20px;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-text h3 {
    margin: 0;
    padding: 0;  /* fikser padding issue  */
}

/* mangler at tilføje dropshadow, tilføjes når javascript laves til den her del  */



   


    /* Køberrådgivning slut  */ 


    /* Artikel side */

        .artikel--container {
            position: relative;
            margin: 0 20px;
            width: 362px;
            height: 170px;

        }

        .artikel--container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /*border: 1px solid black;*/
        }


        .artikel--container-text {
            position: absolute;
            bottom: -20px;
            width: 362px;
            background-color: var(--accent-blue-color);
            color: var(--text-color);
        }

    /* Artikel side, slut */

    

    /* Footer Navigation */ 

        .bottom--nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 75px;
            width: 362px;
            padding: 0 20px 0 20px;
            background-color: var(--accent-button-color);
            text-align: center;
            text-decoration: none;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);

            position: fixed;
            bottom: 0;
            z-index: 100;
        }

        .bottom--nav-item {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
        }

        .bottom--nav-icon {
            font-size: 30px;
        }

        .bottom--nav-text {
            font-family: "Open Sans", sans-serif;
            color: var(--text-color);
        }

    /* Footer navigation */

/* Andre CSS elementer, slut */