
/* Opsætning af Interface CSS */

    :root {  /* Farve variabler - tilføj til CSS med var() */
        --background-color: #f9f9f9;
        --primary-red-color: #E30613; 
        --text-color: #1d1d1b; 

        --accent-blue-color: #e8f1f8;
        --accent-button-color: #ffffff;

        background-color: #1d1d1b;
    }

    body {
        background-color: var(--background-color);
        margin: 0 150px 0 150px;
        padding: 0 20px 0 20px;

        /* Mobile Interface resolution */
        max-width: 402px;
        min-width: 402px;
        height: 874px;
    }

    /* Font og brødtekst */

    h1 {
        color: var(--text-color);
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        padding-bottom: 20px;
    }

    h2 {
        color: var(--primary-red-color);
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        padding-bottom: 18px;
    }

    h3 {
        color: var(--text-color);
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        padding-bottom: 18px;
    }

    p {
        color: var(--text-color);
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        margin: 0;
        font-style: normal;
    }

    /* Knapper og CTA */

    .button { /* Button style til "Køb", "Bekræft" og "Videre" knapper */
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        border-radius: 20px;
        padding: 5px 28px;
        margin: 10px 10px;
        border-style: none;
        background-color: var(--primary-red-color);
        color: var(--accent-button-color);
        cursor: pointer;
    }

    .button--booking { /* Booking knap */
        border-radius: 10px;
        padding: 10px 40px;
    }

    .button--logOut {  /* log ud knap */
        font-size: 14px;
        margin: 8px 8px;
        background-color: var(--accent-blue-color);
        color: var(--text-color);
    }

    .button--guestLogIn {  /* Login som gæst */
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        border-style: none;
        text-decoration: underline;
        background-color: var(--background-color);
        color: var(--primary-red-color);
        cursor: pointer;
    }

    .icon--click {  /* Class til elementer der kan klikkes på */
        cursor: pointer;
    }
    


    

    /* NOTE TIL LAU -- Husk at opsætte px til REM i spacing - mvh Lau */

/* Opsætning af Interface CSS, slut */



/* Andre CSS elementer */


/* Onboarding 1 HTML'S CSS */

/* status dots */
.status-dots1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot-active1 {
    background-color: var(--text-color);
}

.dot1:hover {
    background-color: #b0b0b0;
}

/* Onboarding 1 HTML'S CSS, slut */

/* Andre CSS elementer, slut */